[user]
	name = Karl Merecido
	email = kmerecido@gmail.com
	
# Diff with JetBrains Rider
[diff]
    tool = rider
[difftool]
    prompt = true
[difftool "rider"]
    cmd = rider diff \"$LOCAL\" \"$REMOTE\"

# Merge with JetBrains Rider
[merge]
    tool = rider
[mergetool]
    prompt = true
[mergetool "rider"]
    cmd = rider merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true

